.askAQuestion {
    top: -4px;
    position: relative;
    display: inline-block;
}

.askAQuestionLink {
    font-size: 15px;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Nixie One', sans-serif;
}

.askAQuestionLink:hover {
    text-decoration: underline;
}

@media (max-width : 768px) {
    .askAQuestionLink {
        font-size: 12px;
    }
}

@media (max-width : 500px) {
    .askAQuestionLink {
        font-size: 10px;
    }
}