.cookiePolicy {
    background-color: rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    position: fixed;
    padding: 40px;
    bottom: 0;
}

.agree {
    font-family: 'Nixie One', sans-serif;
    border: solid 1px #b3b3b3;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

.cookieMessage {
    font-family: 'Nixie One', sans-serif;
    margin-bottom: 30px;
    line-height: 20px;
    text-align: left;
}

.cookieMessage,
.agree {
    font-size: 9px;
}

@media (max-width : 500px) {
    .cookieMessage,
    .agree {
        font-size: 7px;
    }
}