/* IMPORT FONTS */
@font-face {
  font-family: 'Headline';
  src: url('/fonts/C4Headline.ttf');
}
@font-face {
  font-family: 'TextMedium';
  src: url('/fonts/TextMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('/fonts/Roboto-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
